@font-face {
  font-family: "iconfont"; /* Project id 3413908 */
  src: url('iconfont.woff2?t=1652952116881') format('woff2'),
       url('iconfont.woff?t=1652952116881') format('woff'),
       url('iconfont.ttf?t=1652952116881') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-yingyongzhongxin:before {
  content: "\e601";
}

.icon-shouyetianchong:before {
  content: "\e692";
}

.icon-31wode:before {
  content: "\e604";
}

.icon-my:before {
  content: "\e608";
}

.icon-wode:before {
  content: "\e606";
}

.icon-fenlei:before {
  content: "\e637";
}

.icon-wode-wode:before {
  content: "\e60d";
}

.icon-wode1:before {
  content: "\e62f";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-fenlei1:before {
  content: "\e609";
}

.icon-wode2:before {
  content: "\e66f";
}

.icon-gouwuche:before {
  content: "\e60a";
}

.icon-wode3:before {
  content: "\e70b";
}

.icon-fenlei2:before {
  content: "\e60b";
}

.icon-gouwuche1:before {
  content: "\e60c";
}

.icon-shouye1:before {
  content: "\e60e";
}

.icon-fenlei3:before {
  content: "\e638";
}

.icon-wode4:before {
  content: "\e632";
}

.icon-wode5:before {
  content: "\e60f";
}

.icon-fenlei4:before {
  content: "\e610";
}

.icon-fenlei5:before {
  content: "\e811";
}

.icon-maijiagouwuche:before {
  content: "\e992";
}

.icon-a-gouwuchegouwu:before {
  content: "\e765";
}

.icon-icon-test:before {
  content: "\e63b";
}

.icon-icon-test1:before {
  content: "\e63c";
}

.icon-aichegujiabeifen7:before {
  content: "\e602";
}

.icon-maichepin:before {
  content: "\e603";
}

.icon-aichegujiabeifen5:before {
  content: "\e605";
}

.icon-aichegujiabeifen6:before {
  content: "\e607";
}

